rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita para o sistema de manutenção do Salão do Reino
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
